.card-label {
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.4s;
    position: absolute;
    top: 370px;
    right: 680px;
    
}

.answered {
    background-color: #e5ffbb;
}

.not-answered {
    background-color: #e79aff;
}