.question-card {
    width: 782px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 128px;
    padding: 64px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.question-card h2 {
    margin: 32px 0 24px 0;
}

.question-card-input {
    width: 100%;
    height: 60px;
    margin: 16px 0;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}
  
.question-card-input:focus {
    outline: 2px solid #007685;
}

.question-card-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 600px;
}

.question-card-divider-line {
    height: 0;
    width: 260px;
    border-bottom: 1px solid #007685;
}

.question-card-button {
    width: 100%;
    height: 60px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: #00bcd4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #89cbd4;
}

.question-card-button:hover {
    background-color: #00acc1;
}

.question-card-button:focus {
    outline: 2px solid #007685;
}