.filter-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 860px;
    height: 100%;
    margin: 32px 0;
    padding: 0 32px;
}

.filter-bar span {
    margin-right: 16px;
}

.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 120px;

    margin: 0 16px;
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);

    font-size: 16px;
    transition: ease-in-out 0.4s;
}

.filter-button.answered {
    background-color: #e5ffbb;
}

.filter-button.answered:hover {
    background-color: #88dc00;
    cursor: pointer;
}

.filter-button.not-answered {
    background-color: #e79aff;
}

.filter-button.not-answered:hover {
    background-color: #ff0080;
    cursor: pointer;
}

.filter-button.off {
    background-color: #e5e5e5;
}