.login-button {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 16px;;

    .avatar-wrapper {
        display: flex;
        align-items: center;

    }
    
    .user-name {
        margin-left: 16px;
    }

    .logout-button {
        color: #999;
    }

}