.poll-card {
    width: 782px;
    display: flex;
    margin: 32px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.poll-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 40px;
}

.poll-card-left span {
    display: block;
}

.poll-card-left p {
    margin: 24px 0;
}

.poll-card-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.poll-card-right span {
    padding: 20px 0;
    font-size: 28px;
}

.poll-card-votes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 8px;
}

.poll-card-votes span {
    font-size: 18px;
}

.options {
    display: flex;
    align-items: center;
}

.options p {
    padding: 28px;
}

.poll-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 16px 0 32px 0;
}