.poll-button {
    height: 60px;
    width: 480px;

    display: flex;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);

    &__left,
    &__right {
        height: 100%;
        min-width: 10%;
        max-width: 90%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #fbdfb6;
    }

    &__cta {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in-out 0.3s;

        &:hover {
            background-color: #fcb64d;
        }

    }
}