.poll-card {
    width: 782px;
    display: flex;
    margin: 32px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.poll-card__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 40px;
}

.poll-card__left span {
    display: block;
}

.poll-card__left p {
    margin: 24px 0;
}

.poll-card__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.poll-card__right span {
    padding: 20px 0;
    font-size: 28px;
}

.options {
    display: flex;
    align-items: center;
}

.options p {
    padding: 28px;
}

.poll-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 32px 0;
}