.reset-password-form {
    height: 100px;
    width: 100%;
    padding: 10px 22px;
    border: none;
    font-size: 18px;
    resize: vertical;
    background-color: transparent;
}

.reset-password-input {
  width: 100%;
  height: 60px;
  margin-bottom: 8px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.reset-password-input:focus {
  outline: 2px solid #007685;
}

.input-error {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    margin-top: 2px;
    margin-bottom: 16px;
    padding: 0 4px;

    font-size: 14px;
    font-weight: 400;
    color: red;
}

.input-error a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #00bcd4;
    transition: ease-in-out 0.3s;
}

.input-error a:hover {
    text-decoration: underline;
    color: #007685;
}

.input-error a:focus {
    outline: 1px solid #007685;
}

.input-spacing {
    width: 100%;
    height: 8px;
}

.show-password {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: end;
}

.show-password > button {
    display: flex;
    justify-content: end;
    width: 25%;
    margin-top: 4px;
    font-weight: bold;
    color: #00bcd4;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: ease-in-out 0.3s;
}

.show-password > button:hover {
    color: #00acc1;
    text-decoration: underline;
}

.show-password > button:focus {
    outline: 2px solid #007685;
}

.show-password > .input-error {
    width: 75%;
}

.reset-password-button {
    width: 100%;
    height: 60px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: #00bcd4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #89cbd4;
}

.reset-password-button:hover {
    background-color: #00acc1;
}

.reset-password-button:focus {
    outline: 2px solid #007685;
}

.reset-password-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 8px;
    color: #00bcd4;
}

.reset-password-actions a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #00bcd4;
    transition: ease-in-out 0.3s;
}

.reset-password-actions a:hover {
    text-decoration: underline;
    color: #007685;
}

.reset-password-actions a:focus {
    outline: 1px solid #007685;
}