.reset-password-form {
    height: 100px;
    width: 100%;
    padding: 10px 22px;
    border: none;
    font-size: 18px;
    resize: vertical;
    background-color: transparent;
}

.reset-password-input {
  width: 100%;
  height: 60px;
  margin-bottom: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.reset-password-input:focus {
  outline: 2px solid #007685;
}

.reset-password-button {
    width: 100%;
    height: 60px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: #00bcd4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #89cbd4;
}

.reset-password-button:hover {
    background-color: #00acc1;
}

.reset-password-button:focus {
    outline: 2px solid #007685;
}

.reset-password-actions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 8px;
    padding: 0 8px;
    color: #00bcd4;
}

.reset-password-actions a {
    margin-left: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #00bcd4;
    transition: ease-in-out 0.3s;
    text-decoration: underline;
}

.reset-password-actions a:hover {
    color: #007685;
}

.reset-password-actions a:focus {
    outline: 1px solid #007685;
}