// TODO: CLEAN RULES && USE SCSS
.user-select {
    max-width: 420px;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 400px;
    height: 100px;
    margin: 0;
    padding: 8px 12px;
    border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    background-color: #fafafa;
}

.optionWrapper {
    position: absolute;
}

.userOption {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    margin-left: 20px;
    padding: 8px 12px;
    
    border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    transition: ease-in-out 0.4s;
            
    &:hover {
        cursor: pointer;
        background-color: #abe2fe;
        border: 1px solid #00aaff;
        box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
    }

}

.select-button {
    position: absolute;
    top: 38px;
    right: 16px;
}