.error-page-header {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 16px;
}

.error-page-content {
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0;
}

.error-page-content a {
    color: #00a0e9;
}