.poll-button {
    height: 60px;
    width: 480px;

    display: flex;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.poll-button a {
    color: #000000;
    text-decoration: none;
}

.poll-button-left,
.poll-button-right {
    height: 100%;
    min-width: 10%;
    max-width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fbdfb6;
}

.poll-button-cta {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}

.poll-button-cta:hover {
    background-color: #fcb64d;
}

.poll-button-cta.poll-button-cta-disabled {
    background-color: #bdbdbd;
    color: #ffffff;
    border: 1px solid #bdbdbdbd;
    cursor: not-allowed;
}